.navbar {
  height: 4rem;
  background-color: indianred;
  border: solid black 1px;
}
.logo {
}

.body {
  display: flex;
  width: 100%;
}
.left-side-margin {
  width: 10%;
  background-color: rgb(177, 170, 170);
}
.right-side-margin {
  width: 10%;
  background-color: rgb(177, 170, 170);
}
.main {
  border: solid black 1px;
  width: 80%;
  background-color: white;
  background-color: bisque;
}
.box {
  border: solid rgb(128, 7, 7) 6px;
  border-radius: 1rem;
  margin: 4rem;
  height: 45rem;
  background-color: white;
}
.box-contents {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
}
.input-1 {
  border: solid rgb(128, 7, 7) 3px;
  border-radius: 1rem;
  height: 10rem;
  margin-bottom: 1rem;
  background-color: aquamarine;
}
.input-box-1 {
  width: 40rem;
  height: 4rem;
  background-color: rgb(167, 164, 164);
  border: solid black 2px;
  border-radius: 10px;
}
.arithmetic-buttons {
  border: solid rgb(128, 7, 7) 3px;
  border-radius: 1rem;
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.arithmetic-button {
  border: solid lightcoral 2px;
  height: 4rem;
  width: 4rem;
}
.input-2 {
  border: solid rgb(128, 7, 7) 3px;
  border-radius: 1rem;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: aquamarine;
}
.input-box-2 {
  width: 40rem;
  height: 4rem;
  background-color: rgb(167, 164, 164);
  border: solid black 2px;
  border-radius: 10px;
}
.result {
  border: solid rgb(128, 7, 7) 3px;
  border-radius: 1rem;
  height: 10rem;
}
.display-result {
  width: 40rem;
  height: 4rem;
  background-color: rgb(167, 164, 164);
  border: solid black 2px;
  border-radius: 10px;
}
.calculate-button {
  border: solid black 2px;
  border-radius: 1rem;
  height: 4rem;
  width: 5rem;
}
